$font-primary: "Montserrat", "Arial", sans-serif;
$color-bg: #f4f8fa;
$color-text: #213547;
$color-primary: #0672c5;
$color-secondary: #1f91fb;
$radius-base: 10px;
$shadow-soft: 0 8px 25px rgb(32 57 75 / 12%);
$max-width: 1100px;
