@use "variables" as vars;
@use "base";
@use "layout";

:root {
  --color-primary: #{vars.$color-primary};
  --color-text: #{vars.$color-text};
}

@media (max-width: 900px) {
  .content {
    padding: 1.5rem 0.9rem;
  }

  .main-nav {
    text-align: center;
  }
}
